* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

#header-search h1 {
  width: 238px;
  height: 60px;
  display: inline-block;
  background-image: url(./logoImg.png);
  background-position: 0 -163px;
  background-size: 471px 446px;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-indent: 100%;
  overflow: hidden;
  position: relative;
  top: -4px;
}

#header-search a {
  height: 50px;
  text-decoration: none;
  vertical-align: middle;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  width: 521px;
  height: 49px;
  display: inline-block;
  margin-left: 20px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 0;
  border: 2px solid #19ce60;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  width: 405px;
  height: 24px;
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background-color: #19ce60;
  background-image: url(logoImg.png);
  background-position: 48px -47px;
  position: absolute;
  right: -2px;
  top: -2px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 5px;
}

nav li a {
  text-decoration: none;
}
