* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 170px;
}

main {
  display: inline-block;
  width: 100%;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
  background-color: #eee;
}

#header-top {
  float: right;
  margin-top: 8px;
}

#header-top span {
  color: #888;
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px;
}

#header-search {
  clear: both;
  padding-top: 20px;
}

#header-search h1 {
  width: 238px;
  height: 60px;
  display: inline-block;
  background-image: url(./logoImg.png);
  background-position: 0 -163px;
  background-size: 471px 446px;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-indent: 100%;
  overflow: hidden;
  position: relative;
  top: -5px;
  left: 1px;
}

#header-search a {
  height: 50px;
  text-decoration: none;
  vertical-align: middle;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  width: 521px;
  height: 49px;
  display: inline-block;
  margin-left: 20px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 0;
  border: 2px solid #19ce60;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  width: 405px;
  height: 24px;
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background-color: #19ce60;
  background-image: url(logoImg.png);
  background-position: 48px -47px;
  position: absolute;
  right: -2px;
  top: -2px;
}

nav {
  height: 46px;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #f1f3f6;
}

nav ul {
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none;
  float: left;
}

nav li {
  display: inline-block;
  margin: 0 5px;
}

nav li a {
  text-decoration: none;
}

.nav-divder {
  float: left;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}

#search-ranking {
  position: absolute;
  top: 185px;
  right: 270px;
}

#search-keyboard {
  position: absolute;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
  display: inline-block;
  width: 43px;
  height: 24px;
  background-position: -794px -534px;
  background-repeat: no-repeat;
  vertical-align: top;
  padding: 0 6px;
  margin: -6px 0 0 -10px;
  top: 32%;
  left: 30%;
}

#search-history {
  display: inline-block;
  width: 24px;
  height: 18px;
  background-position: -315px -295px;
  background-repeat: no-repeat;
  vertical-align: top;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
  position: absolute;
  top: 20%;
  left: 15%;
}

.btn_keyboard {
  position: absolute;
  top: 0;
  right: 84px;
  bottom: 0;
  width: 50px;
}

.btn-arw {
  position: absolute;
  top: 0;
  right: 35px;
  bottom: 0;
  width: 50px;
}

#main-centered {
  padding: 8px 10px 0;
  width: 1100px;
}

#main-ad {
  display: inline-block;
  width: 740px;
  height: 120px;
  background-color: #555;
  margin-right: 8px;
  margin-bottom: 8px;
  float: left;
}

#main-login {
  display: inline-block;
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: white;
  margin-bottom: 8px;
  float: left;
}

#main-newsstand {
  display: inline-block;
  width: 740px;
  height: 246px;
  background-color: white;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-ytn {
  display: inline-block;
  width: 740px;
  height: 46px;
  background-color: white;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-weather {
  display: inline-block;
  height: 142px;
  background-color: white;
  margin-bottom: 8px;
}

#main-second-ad {
  display: inline-block;
  height: 150px;
  background-color: #555;
  margin-bottom: 8px;
}

#main-category {
  display: inline-block;
  width: 740px;
  background-color: white;
}

#main-shopping {
  display: inline-block;
  width: 332px;
  height: 837px;
  background-color: white;
}

#main-event {
  display: inline-block;
  width: 740px;
  height: 130px;
  background-color: white;
  vertical-align: top;
}

#main-third-ad {
  display: inline-block;
  width: 332px;
  height: 130px;
  background-color: #555;
}
