{% extends 'reviews/base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
    <link rel="stylesheet" href="{% static 'css/reviews_detail.css' %}" />
    {% endblock header %}
    <title>{% block title %}리뷰 상세보기{% endblock title %}</title>
  </head>
  {% block content %}
  <body>
    <div class="content-wrapper px-5">
      <div class="left">
        <h1 class="display-1 mb-3">{{review.title}}</h1>
        <div class="sub">
          <p>개봉일<span class="mx-2">{{review.createDate}}</span></p>
          <p>감독<span class="mx-2">{{review.director}}</span></p>
          <p>주연<span class="mx-2">{{review.actor}}</span></p>
          <p>장르<span class="mx-2">{{review.genre}}</span></p>
          <p>별점<span class="mx-2">{{review.stars}}</span></p>
          <p>러닝타임<span class="mx-2">{{review.runtime}}&nbsp분</span></p>
          <div class="contents">
            <span class="mx-2">"{{review.content}}"</span>
          </div>
        </div>
      </div>
      <div class="right">
        <img src="{{review.src}}" alt="{{review.title}}" />
        <div class="option mt-2">
          <a class="btn btn-outline-light" href="/reviews-update/{{review.id}}"
            >수정</a
          >
          <a class="btn btn-outline-light" href="/reviews-delete/{{review.id}}"
            >삭제</a
          >
        </div>
      </div>
    </div>
  </body>
  {% endblock content %}
</html>
