{% extends 'idea_site/base.html' %} {%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block header %}
    <link rel="stylesheet" href="{% static 'idea_site/css/tool_list.css'%}" />
    {% endblock header %}
    
    <title>{% block title %}개발 도구 목록{% endblock title %}</title>
  </head>
  {% block content %}
    <div class="main-idea-list">
      <ol class="list my-5 mx-5 ">
      {% for tool in tools %}
      <li class="item mx-5">
        <a href="tool_detail/{{tool.id}}">
          <div class="info-wrap" >          
              <p class="title px-3">{{tool.name}}</p>              
              <p class="kind">{{tool.kind}}</p>
              <p class="content">{{tool.content}}</p>
          </div> 
        </a>
      </li>
      <hr />
      {% endfor %}
    </ol>
    </div>
  </body>
  {% endblock content %}
</html>