{% extends 'idea_site/base.html' %} {%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block header %}
    <link rel="stylesheet" href="{% static 'idea_site/css/idea_list.css'%}" />
    {% comment %} google font {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% endblock header %}
    
    <title>{% block title %}아이디어 매니저{% endblock title %}</title>
  </head>
  {% block content %}
    <div class="main-idea-list ">
      <ol class="list my-5 mx-5 ">
        <div class="list-header mb-2">
          <p class="mb-2"><div>Idea List</div></p>
        </div>
        <div class="order-wrapper">
          <form action="/index" class='form' method='post'>
            {% csrf_token %}
            {{form}}
        </form>
        </div>
        <div class='list-items'>
          {% for idea in ideas %}
          <li class="item">
            <div class='img-wrapper'>
              <img src="{{idea.image.url}}" alt={{idea.title}}>
            </div>
            <div class='info=wrapper'>        
                <a href="idea_detail/{{idea.id}}">
                  <p class="title mx-3 pb-2">{{idea.title}}</p>
                </a>
                <p class="mx-3 my-3">예상 개발 툴: {{idea.devtool.name}}</p>
                <p class="px-3 mt-4 interest-wrapper">
                  <span>아이디어 관심도: </span>
                  <span class='interest-set mx-3'>
                    <span class='plus material-symbols-outlined' value='{{idea.id}}'>
                    add
                    </span>
                    <span id='interest' class='mx-2'>{{idea.interest}}</span>
                    <span class='minus material-symbols-outlined' value='{{idea.id}}'>
                      remove
                    </span></p>
                  </span>
                <div class="idea_star">
                  {% if idea.idea_star %}
                  <a class='toggle-star fill text-primary' value='{{idea.id}}'>
                    <span class="material-symbols-outlined">
                      star
                    </span>
                  </a>
                  {% else %}
                  <a class='toggle-star' value='{{idea.id}}'>
                    <span class="material-symbols-outlined">
                      star
                    </span>   
                  </a>               
                  {% endif %}                  
                </div>               
            </div> 
          </li>
          {% endfor %}
        </div>
      </ol>
      <div class='page-bar'>      
        {% if ideas.has_previous %}
          <a href='?page={{ideas.number|add:-1}}&order={{order}}'>&lt</a>
        {% else %}
          <a href=''>&lt</a>
        {% endif %}
        {% for i in ideas.paginator.page_range %}
        <a href='?page={{i}}&order={{order}}'> {{i}} </a>
        {% comment %} {{ ideas.number }} of {{ ideas.paginator.num_pages }} {% endcomment %}
        {% endfor %}
        {% if ideas.has_next %}
          <a href='?page={{ideas.number|add:+1}}&order={{order}}'>&gt</a>
        {% else %}
          <a href=''>&gt</a>
        {% endif %}
    </div>
    </div>
  </body>
  {% endblock content %}
</html>